
@{
    ViewBag.Title = "check";
}

<h2>Results</h2>
<br />
<b>Drom:</b> @{
    @ViewBag.from
}
<br /><br />
<b>Do:</b>
@{
    @ViewBag.to
}
<br /><br />
<b>Departure time:</b>@{
    @ViewBag.time
}
<br /><br />
<b>Travel time estimate</b><br />
@{
    @ViewBag.Message
}

