@{
    ViewBag.Title = "Welcome to CarPool";
}

<div class="jumbotron">
    <h1>CarPool</h1>
    <p class="lead">Carpooling reduces each person's travel costs such as fuel costs, tolls, and the stress of driving and is also a more environmentally friendly and sustainable way. Carpool.com uses advanced computing technology to make perfect carpool matching easy, fast and precise.  </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

